@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;

$white: #fff;
$primary: #0a141b;
$primary-light: #11202b;
$secondary: #007bff;
$grayish: #999;
$whitish: #d9d9d9;
$light-bg: #e2e2e2;
