@import 'variables.scss';

.loading-section {
  background-color: $primary-light;
  height: 100vh;

  @include media-breakpoint-down(sm) {
    height: 400px;
  }
}

.loader:empty {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 6em;
  height: 6em;
  border: 1.1em solid $secondary;
  border-left: 1.1em solid $light-bg;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;

  @include media-breakpoint-down(sm) {
    top: 60%;
    left: 40%;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
