@import './variables';

.notfound-section {
  height: 100vh;
  background-color: $primary-light;
}

.notfound-page {
  position: absolute;
  left: 40%;
  top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    left: 25%;
    top: 60%;
  }

  img {
    height: 100px;
    width: 100px;
  }

  h2 {
    color: $white;
    font-family: $font-secondary;
    font-weight: 900;
  }
}
